Source: python-django-ses
Section: python
Priority: optional
Maintainer: David Cramer <dcramer@gmail.com>
Homepage: https://github.com/hmarr/django-ses
Build-Depends: debhelper, python-support

Package: python-django-ses
Architecture: all
Depends: ${python:Depends}, python-boto (>=2.1.0)
Provides: ${python:Provides}
Description: Django-SES is a drop-in mail backend for Django. Instead of
 sending emails through a traditional SMTP mail server, Django-SES routes email
 through Amazon Web Services' excellent Simple Email Service.
